.input{
    align-self: stretch;
    margin:5px
}

.Artistcontents{
    display: flex;
    height: 70px; /* 높이 값을 px 단위로 지정 */
    margin: 5px;
    align-self: stretch;
    
}

.ProfileImg{
    flex: none; /* flex-grow와 flex-shrink를 비활성화하여 기본 크기를 유지 */
    width: 100px; /* 실제 이미지 크기에 맞게 조절 */
    justify-content: center;
    align-items: center; /* 세로 중앙 정렬을 위한 속성 변경 */
    display: flex; /* Flexbox 컨테이너로 만들어 주석 내용 적용 */
}

.info {
    flex-grow: 1; /* 남은 공간을 모두 차지하도록 설정 */
    display: flex;
    flex-direction: column;
    height: 100%;
}

.name, .agency {
    /* 여기서 align-self: stretch는 불필요합니다. */
    width: 100%; /* 부모 컨테이너의 너비를 채우도록 설정합니다. */
    justify-content: flex-start; /* 요소들을 컨테이너의 왼쪽으로 정렬 */
}

.name {
    flex: 2; /* info 내에서 name이 agency의 두 배의 크기를 가짐 */
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    font-size:20px;
}

.agency {
    flex: 1; /* name에 비해 절반 크기 */
    display: flex;
    align-items: center; /* 세로 중앙 정렬 */
    font-size:15px;
    color: grey

}.container{
    
}