@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.CommunityPage {
  width: 100%; /* 부모 컴포넌트의 폭에 맞춤 */

}


.MyCommunity{
  margin:5px;
  margin-top: 45px;
}

.MyCommunityTitle{
  margin:5px;
  font-family: 'Pretendard';
  font-size: 15px;
  font-weight: bold;
  color: white;
}

.MyCommunityNum{

}

.MyCommunityContents{

}

.Community{
  background-color: white;
  border-radius: 10px;
  height: 150px;
  width: 100px;
  margin : 10px;
  

}

.MyCommunityImg{
  display: flex; /* Flexbox 레이아웃 사용 */
  justify-content: center; /* 좌우 중앙 정렬 */
  align-items: center; /* 상하 중앙 정렬 */
  height:70%;
  font-size:12px;
}

.CommunityName{
  display: flex; /* Flexbox 레이아웃 사용 */
  height:30%;
  border-top :2px;
  font-size:10px;
}

.element {
  overflow: hidden; /* 슬라이드 바를 숨김 */
}

.slick-slide div {
  margin: 0 10px; /* 좌우 마진을 줍니다. */
}

.CommunityRankingContainer{
  margin-top:60px;
}

.CommunityRankingTitle{
  margin:5px;
  margin-bottom: -3px;
  font-size:20px;
  font-weight: bold;
}

.CommunityRankinginput{
  margin-top: 20px;
    width: 90%;
    padding: 0.5rem;
    
    border-radius: 20px;
    border: 1px solid #ced4da;
    margin-bottom: -20px;
}

