.Home {
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #FFFFFF;
  } 
  
  .content-wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    overflow-x: auto;
    width: 400px;
    height: 100vh;
    background-image: radial-gradient(circle at top left, #C5E0FF, #DDD4FF);
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 0px;
  } 
  
  
  .bottom-sidebar {
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem; /* padding을 유지하면서 */
    width: 310px; /* .content-wrapper의 padding을 고려한 너비 */
    height: 80px; /* 원하는 높이입니다 */
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    position: absolute; /* 절대 위치 지정 */
    bottom: 0.5rem; /* 아래쪽에서 1rem만큼 떨어진 위치에 배치 */
    left: 50%; /* 중앙에 위치 */
    transform: translateX(-50%);
    justify-content: space-between; /* 이 부분을 space-around로 변경하세요 */
    margin-bottom: 5px;
  }
  
  .nav-button1,
  .nav-button2,
  .nav-button3,
  .nav-button4 {
    background: none;
    border: none;
    font-size: 12px; /* 글자의 크기를 14px로 조절합니다 */
    cursor: pointer;
    color: #333; /* Font color */
    transition: 0.3s;
    padding: 0.5rem 1rem; /* Adjust padding as necessary */
    flex: 1; /* 각 버튼이 동일한 너비를 가지도록 설정 */
    text-align: center; /* 버튼 내부의 텍스트를 중앙 정렬 */
    width: auto;
    height: auto;
    display: flex; /* Flexbox를 사용하여 요소들을 중앙 정렬합니다 */
    flex-direction: column; /* 세로 방향 중앙 정렬 */
    align-items: center; /* 가로 방향 중앙 정렬 */
    justify-content: center; /* 세로 방향 중앙 정렬 */
  }
  
  .nav-button1:hover,
  .nav-button2:hover,
  .nav-button3:hover,
  .nav-button4:hover {
    background-color: #E6E6E6; /* Change to your preferred hover color */
    margin-bottom: 0.5rem; /* 이미지와 텍스트 사이의 간격을 조정합니다 */
  
  }
  
  .nav-button1{
    margin-right: 5px;
  }
  .nav-button1::before {
    content: '';   /* 빈 내용으로 가상 요소 생성 */
    display: block;/* 블록 레벨 요소로 설정 */
    width: 30px;   /* 이미지 너비 설정 */
    height: 30px;  /* 이미지 높이 설정 */
  /*  background: url('image/home.png') no-repeat center center; /* 이미지 적용 */
    background-size: contain; /* 이미지 크기 조절 */
    margin-bottom: 5px; /* 이미지와 텍스트 사이의 간격 */
  }
  .nav-button1:after {
    content: "";  /* 텍스트 내용 */
  }
  
  .nav-button2{
    margin-right: 5px;
    margin-left: 5px;
  }
  .nav-button2::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
    /*background: url('image/card.png') no-repeat center center; */
    background-size: contain;
    margin-bottom: 5px;
  }
  .nav-button2:after {
    content: "";
  }
  
  .nav-button3{
    margin-left: 5px;
  }
  .nav-button3::before {
    content: '';
    display: block;
    width: 30px;
    height: 30px;
   /* background: url('image/mypage.png') no-repeat center center;*/
    background-size: contain;
    margin-bottom: 5px;
  
  }
  .nav-button3:after {
    content: "";
  }
  
  
  .nav-button4{
    margin-right: 15px;
  }
  .nav-button4::before {
    content: '';   /* 빈 내용으로 가상 요소 생성 */
    display: block;/* 블록 레벨 요소로 설정 */
    width: 30px;   /* 이미지 너비 설정 */
    height: 30px;  /* 이미지 높이 설정 */
  /*  background: url('image/home.png') no-repeat center center; /* 이미지 적용 */
    background-size: contain; /* 이미지 크기 조절 */
    margin-bottom: 5px; /* 이미지와 텍스트 사이의 간격 */
  }
  .nav-button4:after {
    content: "";  /* 텍스트 내용 */
  }
  
  
  