
.LoginPage .content-wrapper  .button1 {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    outline: none;
    margin-top: -100px;
    }
    

  
  .settings-notification {
    position: absolute;
    top: 1rem;
    right: 1rem;
    display: flex;
    gap: 0.5rem;
  }
  
  .icon-button {
    background: none;
    border: none;
    font-size: 1.5rem;
    cursor: pointer;
  }
  
  .card-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    position: relative;
    transition: all 0.3s;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.3s;
  
  }