@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');


.LoginPage .content-wrapper .content {
  display: flex;
  flex-direction: column;
  justify-content: center; /* 수평 중앙 정렬 */
  align-items: center; /* 수직 중앙 정렬 */
  height: 100vh;
}

.LoginPage .content-wrapper .content .name {
  margin-bottom: 10px;
  font-family: 'Pretendard', sans-serif;
  font-size: 45px;
  font-weight: bold;
  color: white;
}

.LoginPage .content-wrapper .content .button1 {
  font-family: 'Pretendard', sans-serif;
  font-weight: bold;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-image: linear-gradient(to bottom right, #FFFFFF, #BBCEFF);
  color: #676161ea;
  outline: none;
  
}
