.ArtistMainPage{
    width:100%;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ArtistMainPageidolImg{
    background-color: lightblue;
    display:flex;
    width:100%;
    height: 300px;
    justify-content: center;
    align-items: center;
}

.ArtistMainPageidolInfo{
    display: flex;
    width: 80%; /* 예시로 80%의 너비를 가집니다. 실제 사용시 적절한 값을 사용하세요 */
    margin-top: 20px; /* 상단 마진으로 위치 조정 */
    background-color: #f0f0f0; /* 배경색, 시각적으로 확인하기 위해 임시로 추가 */
    padding: 20px; /* 내부 여백 */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* 그림자 효과 */
    border-radius: 10px; /* 모서리 둥글게 */
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.ArtistMainPageidolname{
    background-color: red;
}

.ArtistMainPageidolagency{
    background-color: blue;
}

.TotalVotedTitle{
    background-color: red;
}

.TotalVote{
    background-color: blue;
}

.VoteButton{

}

.ArtistMainPageContent{
}