.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 400px;
    height: 100vh;
    background-color: #E6E6E6;
    border-radius: 30px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 2rem 1rem;
    box-sizing: border-box;
    position: relative;
    margin-bottom: 0px;
    z-index:-1;
}

.bottom-sidebar button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  


  .GoBack {
    cursor: pointer;
    border: none;
    font-size: 24px; 
    padding: 0; 
    margin: 0;
    z-index: 1; /* 상위에 나타나도록 */
    transform: translate(0%, 0%); /* 필요에 따라 조정 */
    margin-top: 30px; /* margin-top을 적용하려면 position을 absolute로 변경해야 합니다 */
}