@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.header {
    background-color: transparent;
    display: flex;
    justify-content: space-between; /* This will push .name to the left and .logo to the right */
    align-items: center;
    padding: 0.5rem 1.5rem;
    width: 350px;
    height: 50px;
    border-radius: 20px;
    border-color: transparent;
    box-shadow: 0 4px 8px rgba(0,0,0,0.05);
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translateX(-50%);
}

.header .name {
    color: #172FFF;
    font-family: 'Pretendard', sans-serif;
    font-weight: bold;
    font-size: 18px;
    margin-right: auto; /* This ensures .name stays at the start/left side */
}

.header .logo {
    font-family: 'Pretendard', sans-serif;
    margin-left: 220px; /* This ensures .logo stays at the end/right side */
}
